extends layout

block content
  h1= title
  p Welcome to #[em To Do List]. Be Productive !

  h1 Your tasks

  if error 
    p Error getting dynamic content
  else 
    p complete these tasks ASAP !

    